

body {
  margin-top: 20px;
}

.modal-backdrop {
  background-color:#ebebe0	;
}

.modal-content{
  width: 650px;
}

.modal-body li{
  list-style: none;
  font-size:20px;
}

.sum{
  padding-top: 30px;
}
